<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>

    <br>In the first and second form, enter lists of integers to use as keys.</br>
    <br>In the third form, enter a list of strings to be encrypted.</br>
    <br>In the fourth form, enter an integer to use as a third key.</br>

    Result is {{result}}


  <form action="compute" method="post">
      <textarea name="input1" rows="10" cols="30"></textarea>
      <textarea name="input2" rows="10" cols="30"></textarea>
      <textarea name="input3" rows="10" cols="30"></textarea>
      <textarea name="input4" rows="10" cols="30"></textarea>
      <br>
      <input type="submit">
  </form>